PyQt5
PyQtWebEngine
emoji
termcolor
qrainbowstyle==0.6.5
python-dateutil
requests
caldav==1.2.1
icalendar
recurrent
mutagen
psutil
PyGObject; platform_system == 'Linux' or platform_system == 'Darwin'
pypiwin32; platform_system == 'Windows'
